# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/
**/.ipynb_checkpoints/
.virtual_documents/
anaconda_projects/
*.log

# Virtual Environment
venv/
env/
.venv/

# Anaconda
anaconda_projects/

# VS Code
.vscode/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/
